.footer{
  height: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-color);
  border-top: 1px solid var(--border-color);
  border-bottom: none;
  color: #a1a1aa;
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
}