.header {
  position: fixed;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  width: 1024px;
  padding: 20px;
  transition: transform 0.35s ease-in-out;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background-color: var(--bg-color);
  height: 80px;
}

.styles_nav{
  width: fit-content;
  height: 40px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.styles_menu {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 12px;
  border: 1px solid var(--border-color);
  border-radius: 100px;
  width: auto;
  /* bottom: 0; */
  background-color: var(--bg-sub);
}

.menu-child {
  height: 100%;
    position: relative;

  font-size: 14px;
}
.menu-child-active a {
  color: var(--main) !important;
}
.menu-child a {
  padding: 0 12px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-2);
}

.logo-ctn {
  /* left: 40px; */
  overflow: hidden;
}

.logo {
  border-radius: 6px;
}

.styles_ctnLeftHeader{
  position: relative;
  height: 40px;
  left: 20px;
  align-items: center;
  display: flex;
}


.styles_ctnRightHeader {
  display: flex;
  align-items: center;
  gap: 8px;
  height: 40px;
}

.styles_changeLanguage {
  display: flex;
  align-items: center;
  gap: 6px;
}

.line-active{
  position: absolute;
  width: 60%;
  height: 1px;
  background-color: var(--main);
  bottom: -0.5px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 100%;
  transition: 0.3s;
}