.card-sub-project {
  width: 100%;
  padding: 12px;
  background-color: rgba(0,0,0,0);
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  gap: 12px;
  cursor: pointer;
  transition: all 0.3 ease;
}

.card-sub-project:hover {
  background-color: #f4f4f5;
}

.content{
  flex: 1 1;
}

.title{
  font-weight: bold;
}