.card {
  display: flex;
  flex-direction: column;
  gap: 12px;
  background-color: var(--bg-color);
  border-radius: 8px;
  cursor: pointer;
  width: 100%;
  padding: 12px;
  justify-content: space-between;
}

.card:hover {
  background-color: var(--bg-hover);
}

.card-header {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 16px;
}

/* sub */
.sub {
  transition: all 0.3 ease;
  flex-direction: row;
}

.content {
  flex: 1 1;
}

.project-title {
  font-weight: bold;
}

.sub-project-description {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;
}
