.greeting{
  font-size: 40px;
  margin-bottom: 0;
}

.intro{
  font-size: 60px;
}

.content-parent {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 10px;
  margin-top: 24px;
}

.content-col-1 {
  display: flex;
  flex-direction: column;
  width: 60%;
  gap: 16px;
}

.content-col-2 {
  width: 40%;
  gap: 16px;
  display: flex;
  flex-direction: column;
}

.box {
  display: flex;
  flex-direction: column;
  border: 0.5px solid var(--main);
  border-radius: 8px;
  padding: 24px;
  gap: 10px;
}

.contact-items{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 24px;
  margin-top: 32px;
}

.seemore {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  border: 1 solid transparent;
  background-color: var(--border-color);
  align-items: center;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  margin: 0 auto;
  transition: all ease 0.3s;
  color: var(--text-2);
}

.seemore:hover {
  color: var(--main);
  border-color: var(--main);
  background-color: rgba(0, 0, 0, 0);
}

.hp-title {
  font-weight: bold;
  color: var(--main);
  display: flex;
  justify-content: center;
}

.hp-title > span:hover {
  text-decoration: underline;
  cursor: pointer;
}

.skill-items {
  display: flex;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-clamp: 2;
  width: 100%;
}
