.seemore {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  border: 1 solid transparent;
  background-color: var(--border-color);
  align-items: center;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  margin: 0 auto;
  transition: all ease 0.3s;
  color: var(--text-2);
}

.seemore:hover {
  color: var(--main);
  border-color: var(--main);
  background-color: rgba(0, 0, 0, 0);
}

.hp-title {
  font-weight: bold;
  color: var(--main);
  display: flex;
  justify-content: center;
}

.hp-title > span:hover {
  text-decoration: underline;
  cursor: pointer;
}
