:root {
  --viewbox: 1216px;
  --main: #27ab83;
  --text-1: #52525b;
  --text-2: #27272a;
  --text-3: #a1a1aa;
  --border-color: #f4f4f5;
  --bg-color: #fff;
  --bg-root: #fafafa;
  --bg-sub: #fff;
  --bg-hover: #fafafa;
  --bg-overlay: rgba(0, 0, 0, 0.5);
  --shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}

[data-theme="dark"] {
  --viewbox: 1216px;
  --main: #27ab83;
  --text-1: #a1a1aa;
  --text-2: #f4f4f5;
  --text-3: #71717a;
  --border-color: #3f3f4666;
  --bg-color: #18181b;
  --bg-root: #000;
  --bg-sub: #252529;
  --bg-hover: #202022;
  --bg-overlay: rgba(255, 255, 255, 0.5);
  --shadow: rgba(255, 255, 255, 0.04) 0px 3px 5px;
}

body {
  margin: 0;
  font-size: 14px;
  color: var(--text-2);
  background-color: var(--bg-color);
}

ul,
p,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Noto Sans", monospace !important;
}

.wrap {
  /* background-color: var(--bg-color); */
  width: 100vw;
  max-width: 1024px;
  margin: 0 auto;
  height: auto;
  min-height: 100vh;
  padding: 80px 32px;
}

.content-parent {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 10px;
  margin-top: 24px;
}

.content-col-1 {
  width: 60%;
}

.content-col-2 {
  width: 40%;
  gap: 16px;
  display: flex;
  flex-direction: column;
}

.box {
  display: flex;
  flex-direction: column;
  border: 0.5px solid var(--main);
  border-radius: 8px;
  padding: 24px;
  gap: 10px;
}

.title > span:hover {
  color: #27ab83;
  text-decoration: underline;
}

.space-between-graph {
  display: block;
  margin-top: 12px;
}

.highlight {
  color: #27ab83;
  box-shadow: rgba(39, 171, 131, 0.19) 0px -1.3rem inset;
}

.note {
  background-color: #fff3cd;
  border-left: 4px solid #ffeeba;
  padding: 10px 15px;
  margin-top: 15px;
  border-radius: 4px;
  font-size: 0.95rem;
  color: #856404;
}

.skill-items{
  display: flex;
  /* flex-wrap: wrap; */
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-clamp: 2;
  width: 100%;
}
