.card{
  display: flex;
  flex-direction: column;
  gap: 12px;
  background-color: var(--bg-color);
  border-radius: 8px;
  cursor: pointer;
  width: 100%;
  padding: 12px;
  justify-content: space-between;
}

.card:hover{
  background-color: var(--bg-hover);
}

.card-header{
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 16px;
}

