.wrap1 {
  /* position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px; */
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.side {
  /* display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  width: 90%;
  gap: 6px; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 12px;
}

/* .left {
  border: 1px dotted red;
  height: 100%;
}

.right {
  border: 1px dotted blue;
  height: 100%;
  width: 80%;
} */

.left,
.right {
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f4f4f5;
  border-radius: 12px;
  font-size: 14px;
}

.header-child {
  width: 80%;
}

.center-child {
  width: 70%;
}

.bottom-child {
  width: 80%;
}

.image {
  border-radius: 50%;
  z-index: 2;
}

.left.header-child {
  width: 140px;
  transform: translateX(20px) translateY(0px);
}

.left.center-child {
  width: 140px;
  transform: translateX(0) translateY(0);
}

.left.bottom-child {
  width: 140px;
  transform: translateX(20px) translateY(0px);
}

.right.header-child {
  width: 140px;
  transform: translateX(-20px) translateY(0px);
}

.right.center-child {
  width: 140px;
  transform: translateX(0) translateY(0);
}

.right.bottom-child {
  width: 140px;
  transform: translateX(-20px) translateY(0px);
}

.wrap2 {
  display: flex;
  justify-content: space-between;
  gap: 8px;
  position: relative;
  margin-top: 12px;
}

.show {
  border: 1px dotted red;
  justify-items: center;
  width: 100%;
  height: 300px;
}
