.card-experience {
  display: flex;
  justify-content: space-between;
  border-radius: 8px;
  width: 100%;
  padding: 12px;
  background-color: var(--bg-color);
  cursor: pointer;
  gap: 12px;
}

.card-experience:hover {
  background-color: var(--bg-hover);
}

.description {
  width: 100%;
  margin-top: 12px;
}

.description-line {
  width: calc(100% - 80px);
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Number of lines to show */
  -webkit-box-orient: vertical;
  /* Standard property for future compatibility */
  line-clamp: 2;
}

.detail {
  position: relative;
}

.detail > span {
  position: absolute;
  bottom: 0;
  right: 0;
}

.inline-see-more-button {
  border: 0;
  /* color: rgb(0 0 0/0.6); */
  background-color: rgba(0, 0, 0, 0);
  color: var(--text-2);

  cursor: pointer;
}

.inline-see-more-button:hover {
  color: var(--main);
}

.position {
  font-weight: bold;
}

.ligth-color {
  color: var(--text-1);
}

.description-text {
  white-space: pre-line;
}
